<nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/course">Courses</a>
      </li>
      <li>
        <a href="/teacher">Teacher Login</a>
      </li>
      <li>
        <a href="/login">Student Login</a>
      </li>
      <li>
        <a href="/register">Register</a>
      </li>
      
    </ul>
  </nav>