<!DOCTYPE html>
<html>

<%- include('./partials/head.ejs') %>
<link rel="stylesheet" a href="/views/public/style.css">
<body>
    <h1>Teachers</h1>
    <nav>
      <ul>
        <li>
          <a href="/views/index.ejs">Home</a>
        </li>
        <li>
          <a href="/views/course.ejs">Courses</a>
        </li>
        <li>
          <a href="/views/teacher.ejs">Teachers</a>
        </li>
        <li>
          <a href="/views/login.ejs">Login</a>
        </li>
        
      </ul>
    </nav>

<div>
  <h2>404 Page Not Found :(</h2>
</div>
</body>
</html>