<!DOCTYPE html>
<html>

<%- include('./partials/head.ejs') %>

<body>
  <h1>Courses We Offer</h1>
  <%- include('./partials/nav.ejs') %>

  <div style="padding-top: 30px">
    <div class="create-course content">
        <form action="/course" method="POST">
          <label for="name">Course Name:</label>
          <select id="name" name="name" required>
              <option value="biology1">Biology I</option>
              <option value="algebra1">Algebra I</option>
              <option value="english1">English I</option>
              <option value="history1">History I</option>
          <label for="description">Course Description:</label>
          <input type="text" id="description" name="description" required>
          <label for="subjectArea">Subject Area:</label>
          <textarea id="subjectArea" name="subjectArea" required></textarea>
          <label for="credits">Credits:</label>
          <textarea id="credits" name="credits" required></textarea>
          <button>Submit</button>
        </form>
      </div>
</body>

</html>