<!DOCTYPE html>
<html>

<%- include('./partials/head.ejs') %>

<body>
  <main>
    <h1>Create a New Course</h1>
    
    <%- include('./partials/nav.ejs') %>

    
          <form action="/courseTeach" method="POST">
            <label for="name">Course Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="description">Course Description:</label>
            <input type="text" id="description" name="description" required>
            <label for="subjectArea">Subject Area:</label>
            <input  type="text" id="subjectArea" name="subjectArea" required></input>
            <label for="credits">Credits:</label>
            <input type="text" id="credits" name="credits" required></input>
            <div class="button-container">
              <input type="submit" value="Submit">
            </div>
          </form>

    <%- include('./partials/footer.ejs') %>     
  </main>
      
</body>

</html>
