<!DOCTYPE html>
<html>

<%- include('./partials/head.ejs') %>

<body>
  <h1>Nevermore Academy</h1>
  <%- include('./partials/nav.ejs') %>
  <p>

  </p>
  <footer>

  </footer>
</body>

</html>