<!DOCTYPE html>
<html>

<%- include('./partials/head.ejs') %>
<link rel="stylesheet" a href="/public/style.css">
<body>
  <h1>Nevermore Academy</h1>
  
  <%- include('./partials/nav.ejs') %>
  
  <p>

  </p>
  <footer>

  </footer>
</body>

</html>
