<%- include('./partials/head.ejs') %>
<link rel="stylesheet" a href="/views/public/style.css">
<body>
  <h1>Nevermore Academy</h1>
  <nav>
    <ul>
      <li>
        <a href="/views/index.ejs">Home</a>
      </li>
      <li>
        <a href="/views/course.ejs">Courses</a>
      </li>
      <li>
        <a href="/views/teacher.ejs">Teachers</a>
      </li>
      <li>
        <a href="/views/login.ejs">Logout</a>
      </li>
      
    </ul>
  </nav>
  <p>

  </p>
  <footer>

  </footer>
</body>

</html>