<!DOCTYPE html>
<html>

<%- include('./partials/head.ejs') %>

<body>
  <main>
    <h1>Your Class Schedule</h1>

    <%- include('./partials/nav.ejs') %>

        <h2>Schedule for <%= student.email %> </h2> 

    <%- include('./partials/footer.ejs') %>

  </main>
</body>

</html>