<!DOCTYPE html>
<html>

<%- include('./partials/head.ejs') %>

<body>
  <main>

    <h1>Student Login</h1>

    <%- include('./partials/nav.ejs') %>

   
      <form>

        <h2>Student Login</h2>
       <label for="email">Email:</label>
       <input type="text" name="email" required />
       <div class="email error"></div>

       <label for="password">Password:</label>
       <input type="password" name="password" required />
       <div class="password error"></div>
       <div class="button-container">
          <button>Log In</button>
       </div>

      </form>
    
      <%- include('./partials/footer.ejs') %>
  </main>
</body>

<script>
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error')
  const passwordError = document.querySelector('.password.error')

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    //rest errors
    emailError.textContent = '';
    passwordError.textContent = '';

    //get the values from the form
    const email = form.email.value;
    const password = form.password.value;

    try {
      const res = await fetch('/stuLogin', {
        method: 'POST',
        body: JSON.stringify({ email, password }),
        headers: { 'Content-Type': 'application/json' }
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if(data.student) {
        location.assign('/')
      }
    }
    catch (err) {
      console.log(err);
    }
  })
</script>


</html>
