<!DOCTYPE html>
<html>

<%- include('./partials/head.ejs') %>
<body>
    <h1>Teachers</h1>
    <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/course">Courses</a>
          </li>
          <li>
            <a href="/teacher">Teachers</a>
          </li>
          <li>
            <a href="/login">Login</a>
          </li>
          
        </ul>
      </nav>

<div>
  <table id="list"></table>
</div>
</body>
</html>