body {
    background-color:  #3A1078;
    font-family: 'Open Sans', sans-serif;
  }
main {
  width: 80%;
  background-color: #FFF2CE;
  margin-left: auto;
  margin-right: auto;

}
  h1 {
    background-color: #D49B54;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 53px;
    margin-bottom: 0px;
  }
  h2 {
    text-align: center;
    margin-top: 0;
  }

  /* Nav bar*/
  nav {
    background-color: #D49B54;
    text-align: center;
    margin-top: 0px;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
  }
  nav li {
    float: left;
  } 
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  nav li a:hover {
    background-color: #9e2d2d;
  }

  a {
    color: black;
  }

  /* Form layout */

  form{
    display: block;
    text-align: center;
  }

  input[type=text], input[type=password], select, textarea {
    width: 50%;
    padding: 9px;
    border: 1px solid #171717;
    border-radius: 4px;
    resize: vertical;
  }
  
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: black;
    width: 120px;
    text-align: left;
  }
  input[type=submit], button {
    background-color: #444444;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
  }
  input[type=submit], button:hover {
    background-color: #3D0000;
  }
  .button-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .container {
    border-radius: 5px;
    background-color: #171717;
    padding: 20px;
  }
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  /* Table layout*/
  table, th, td {
    
    padding: 3px;
  }
  table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: #D49B54
  }

  td {
    padding: 30px;
    border: 2px solid;
    position: relative;
  }
  
  th {
    font-size: 20px;
    padding: 20px;
    border: 2px solid;
  }

  .top-row:hover {
    background-color: #D49B54 !important;
  }

  tr:hover, tr:focus-within {
    background-color: #FFF2CE;
    outline: none;
  }
  
  td a {
    display: block;
    text-decoration: none;
  }
  td a:visited {
    color: black;
  }


/* Form */
form{
    max-width: 500px;
    margin: auto;
  }

.content{
  text-align: center;
  max-width: 30%;
  margin: auto;
  margin-top: 15px;
  
}

.delete:hover{
  cursor: pointer;
}

/* index */
.main-container{
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: center;
  margin-top: 0px;
  align-items: center;
}
.main-heading{
  flex: 3;
  font-family: 'Lobster', cursive;
  font-size: 38px;
}

.main-text{
  flex: 7;
  text-align: center;
}

hr{
  width: 80%;
}

/* Special Features */

.errorMessage{
  color: red;
  text-align: center;
}

/* Footer */
footer{
  text-align: center;
  background-color: #D49B54;
  margin-top: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
}


